html {
    font-size: 100%;
}

h1 {
    font-family: 'Canvas', 'Helvetica', 'Arial', monospace;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'Coves', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.3em;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h3 {
    font-family: 'Coves', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.35em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.30em;
}

h4 {
    font-family: 'Canvas', 'Helvetica', 'Arial', monospace;
    font-size: 1.2em;
    text-align: center;
}

header {
    font-family: 'Coves', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.3em;
}

footer {
    font-family: 'Coves', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.9em;
    text-align: center;
}

.textfoot ~ .textfoot {
    font-family: 'Spectral';
    font-size: 0.89em;
    line-height: 0.7em
}

.mCustomScrollbar {
    /*border-radius:20px;*/
    /*-ms-overflow-style: none;*/
    /*IE 10+*/
    /*  Firefox*/
    font-family: 'Spectral', serif;
    font-weight: 300;
    text-align: left;
    font-size: 1em;
}

img{
    max-width: 100%;
}

.videoContainer{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cover img {
    width: 100%;
}

.fleche {
    opacity: 0.7;
    position: relative;
    bottom: 20px;
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    height: 0;
}

#retour,
#titre {

    position: absolute;
    font-size: 1em;
}

#retour {
    right: 70%;
    font-size: 1.1em;
}

#titre {
    left: 65%;
    text-transform: uppercase;
}

a:hover {
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: inherit;
}

.mCustomScrollbar p:first-of-type{
    font-weight: 700;
    font-size: 1.1em;
    text-align:justify;
    opacity: 0.5;
}

@media screen and (min-width:960px) {
    .mCustomScrollbar p {
        font-size: 115%;
    }
        .mCustomScrollbar p:first-of-type{
    font-size: 1.2em;
}
}

@media screen and (min-width:1200px) {
    article p {
        font-size: 125%;
    }
    .mCustomScrollbar p:first-of-type{
    font-size: 1.3em;
}
}

@media screen and (min-width:1600px) {
    .mCustomScrollbar {
        max-width: 1200px;
    }
}

@media screen and (max-width:600px),
@media handheld {
    #holderG,
    #holderD {
        display: none;
    }
    .mCustomScrollbar {
        max-width: 95%;
        margin: 0 auto 0 auto;
    }

    #retour {
        font-size: 0.8em;
        margin: 1em;
        right: 78%;
    }

    #titre {
        left: 80%;
        font-size: 0.5em;
        margin: 1em;
    }
    #violet {
        height: 50px;
        top: -50px;
    }
}
